@import "lib.less";


// EditableContent CSS
.-ec-blinker {
	position: relative; display: none;
	&:before {
		content: ""; position: absolute; width: 2px; height: 100%; left: -1px; top: 0;
		background: transparent url(data:image/gif;base64,R0lGODlhAQABAPAAAAAAAAAAACH5BAkyAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAAQABAAACAkQBACH5BAgyAAAALAAAAAABAAEAAAICRAEAOw==);
	}
	&.active {	display: inline; }
}
.-ec { position: relative; }
.-ec-ta { position: absolute; left: -9999px; top: -9999px; z-index: 999; width: 100px; height: 100px;}








/* new clearfix */
.clearfix {
	&:after {
	  visibility: hidden;
	  display: block;
	  font-size: 0;
	  content: " ";
	  clear: both;
	  height: 0;
	}
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE */



body { min-width: 900px; background-color: gray; }
p { margin: 0 0 15px; }


#container {
	width: 750px;
	min-height: 400px;
	padding: 20px;
	margin: 30px auto;
	border: 1px solid #666;
	background: #fff;
}
.shadow { .box-shadow(0 0 3px rgba(0,0,0,.3)); }
.corner { .border-radius(5px); }




.wizzy_enable, .wizzy_toolbar {
	border: 1px solid #333;
	padding: 5px; margin-bottom: 20px;
	display: inline-block;
	.border-radius(3px);
	.clearfix;

	li {
		display: inline-block;
		a {

		}
	}
}
.cebtn {
	display: block;
	background: #666;
	color: #fff;
	height: 25px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	padding: 0 10px;
	.border-radius(3px);
}
.cebtn-enable { display: inline-block; width: 165px; }
#wizzy_toolbar {
	display: none;
	&.active { display: inline-block; }
}

.cebtn-grow       {}
.cebtn-shrink     {}
.cebtn-bold       { font-weight: bold; }
.cebtn-italic     { font-style: italic; }
.cebtn-underline  { text-decoration: underline; }
.cebtn-strike     { text-decoration: line-through; }


#CE_container {
	border: 1px solid #333;
	padding: 5px;
	.border-radius(3px);
}